<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="no.pumalove.treningslogg"
    android:versionCode="1"
    android:versionName="1.0" >
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Treningslogg" >
        <activity
            android:name="no.pumalove.treningslogg.Main"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                
            </intent-filter>
        </activity>
         <activity
            android:name="no.pumalove.treningslogg.UserPage"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.UserPage" />

                <category android:name="android.intent.category.DEFAULT" />
                
            </intent-filter>
        </activity>
          <activity
            android:name="no.pumalove.treningslogg.MainMenu"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MainMenu" />

                <category android:name="android.intent.category.DEFAULT" />
                
            </intent-filter>
        </activity>
         <activity
            android:name="no.pumalove.treningslogg.SingleListItem"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SingleListItem" />

                <category android:name="android.intent.category.DEFAULT" />
                
            </intent-filter>
        </activity>
         <activity
            android:name="no.pumalove.treningslogg.SQLView"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SQLView" />

                <category android:name="android.intent.category.DEFAULT" />
                
            </intent-filter>
        </activity>
         <activity
            android:name="no.pumalove.treningslogg.RegUser"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.RegUser" />

                <category android:name="android.intent.category.DEFAULT" />
                
            </intent-filter>
        </activity>
            <activity
            android:name="no.pumalove.treningslogg.AddOvelse"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.AddOvelse" />
                <category android:name="android.intent.category.DEFAULT" />               
            </intent-filter>
        </activity>
          <activity
            android:name="no.pumalove.treningslogg.Bibliotek"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.Bibliotek" />
                <category android:name="android.intent.category.DEFAULT" />               
            </intent-filter>
        </activity>
           <activity
            android:name="no.pumalove.treningslogg.getMySQLData"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.getMySQLData" />
                <category android:name="android.intent.category.DEFAULT" />               
            </intent-filter>
        </activity>
          <activity
            android:name="no.pumalove.treningslogg.lastOpp"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.lastOpp" />
                <category android:name="android.intent.category.DEFAULT" />               
            </intent-filter>
        </activity>
         <activity
            android:name="no.pumalove.treningslogg.SingleBibliotek"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SingleBibliotek" />
                <category android:name="android.intent.category.DEFAULT" />               
            </intent-filter>
        </activity>
           <activity
            android:name="no.pumalove.treningslogg.VisOvelser"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VisOvelser" />
                <category android:name="android.intent.category.DEFAULT" />               
            </intent-filter>
        </activity>
    </application>

</manifest>
